name: Linting & checking links
on:
  pull_request:
    branches: [main]
jobs:
  Awesome_Lint:
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # Run Awesome lint
      - name: Awesome lint
        run: npx awesome-lint
      # Checks the status of hyperlinks in .md files in verbose mode
      - name: Check links
        uses: tcort/github-action-markdown-link-check@v1
        with:
          config-file: .github/workflows/markdown-links-config.json
          use-verbose-mode: 'yes'
